
body, html
{
    margin: 0;
    padding: 0;
    background-color: #000000;
    text-align: center;
    overflow: hidden;
}


#canvas
{
    background-color: #aaaa33;
    display: inline-block;
    vertical-align: middle;
}
